.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}


.cards.header-content.block {
  position: relative;
  top: 5rem;
  left: 0;
}

.cards.header-content.block.hamburger {
  position: relative;
  top: 5rem;
  left: 0;
}

.cards.header-content.block.left {
  position: relative;
  top: 5rem;
  left: 2rem;
}

.cards.header-content.block.right {
  position: relative;
  top: 5rem;
  left: 0;
}

.cards.header-content.block.right.image {
  left: 2rem;
}

.cards.header-content.block.left h2 {
  font-family: HyundaiSansHead-Regular, sans-serif;
}


.cards.block.header-content > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
}

.cards.block.header-content > ul > li {
  background-color: #f6f3f2;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 0;
  border-radius: 2px;
  font-size: var(--body-font-size-xs);
  transition: all 1s;
  transform-origin: 50% 50%;
  font-family: HyundaiSansHead-Regular, sans-serif;
}

.cards.block.header-content .icon {
  height: 45px;
  width: 45px;
}

.cards.block.header-content > ul > li:hover, 
.cards.block.header-content > ul > li:focus {
  background-color: #ccc;
  transition: opacity 1s linear;
  font-weight: 900;
  transform: scale(1.1);
}


.cards.block.header-content > ul > li img {
  position: relative;
  left: 11vw;
  top: 1em;
}

.cards.block.header-content.right.image > ul > li img {
  position: relative;
  left: 0;
  top: 1em;
  aspect-ratio: 0;
}

.cards.block.header-content.right > ul > li {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 0;
  border-radius: 2px;
  font-size: var(--body-font-size-xs);
  transition: all 1s;
  transform-origin: 50% 50%;
  font-family: HyundaiSansHead-Regular, sans-serif;
}

.cards.block.header-content.left.image > ul > li {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 0;
  border-radius: 2px;
  font-size: var(--body-font-size-xs);
  transition: all 1s;
  transform-origin: 50% 50%;
  font-family: HyundaiSansHead-Regular, sans-serif;
}

.cards.block.header-content.left.image > ul > li img {
  position: relative;
  left: 0;
  top: 0;
  aspect-ratio: 0;
}


.cards.block.header-content.right > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 16px;
}

.cards.block.header-content.right > ul > li div {
  border-bottom: 2px solid #f6f3f2;
  padding: 12px 10px;
}



.cards.block.header-content.right > ul > li div:empty {
  border-bottom: 0;
}
  

.cards.block.header-content.right > ul > li div:hover,
.cards.block.header-content.right > ul > li div:focus {
  border-bottom: 2px solid #00aad2;
  transition: opacity 1s linear;
  transform: scale(1.0);
}

.cards.block.header-content.image.right > ul > li div:first-of-type {
  border-bottom: 0;
}

.cards.block.header-content.image.left > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

@media (width >= 600px) {
  .cards.header-content.block {
    position: relative;
    top: 5rem;
    left: 0;
  }

  .cards.block.header-content > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-gap: 16px;
  }

  .cards.block.header-content.right > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 16px;
  }

  .cards.block.header-content.image.left > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
  }
}

@media (width >= 900px) {
  .cards.header-content.block {
    position: relative;
    top: 5rem;
    left: 0;
  }

  .cards.block.header-content > ul > li img {
    position: relative;
    left: 10vw;
    top: 1em;
  }

  .cards.block.header-content > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-gap: 16px;
  }

  .cards.block.header-content.image.left > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 16px;
  }
}

@media (width >= 1800px) {
  .cards.header-content.block {
    position: relative;
    top: 5rem;
    left: 7rem;
  }

  .cards.block.header-content > ul > li img {
    position: relative;
    left: 8vw;
    top: 1em;
  }

  .cards.block.header-content.image.left > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 16px;
  }
}

