.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards.header-content.block {
  position: relative;
  top: 5rem;
  left: 15rem;
}

.cards.block.header-content > ul > li {
  background-color: #f6f3f2;
  height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border: 0;
  border-radius: 2px;
  font-size: var(--body-font-size-s);
  transition: all 1s;
  transform-origin: 50% 50%;
}

.cards.block.header-content > ul > li:hover, 
.cards.block.header-content > ul > li:focus {
  background-color: #cccccc;
  transition: opacity 1s linear;
  font-weight: 900;
  transform: scale(1.1);
}

.cards.block.header-content > ul > li img {
  position: relative;
  left: 15rem;
  top: 1em;
}

.cards.block.header-content.right > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 16px;
}

.cards.block.header-content.right > ul > li {
  background-color: white;
  height: 10rem;
  display: flex;
  flex-direction: column;
  border: 0;
  gap: 4rem;
  border-radius: 2px;
  font-size: var(--body-font-size-s);
  transition: all 1s;
  transform-origin: 50% 50%;
  margin-top: 3rem;
}

.cards.block.header-content.right > ul > li div {
  border-bottom: 1px solid #aeaeae;
}

.cards.block.header-content.right > ul > li div:empty {
  border-bottom: 0;
}
  

.cards.block.header-content.right > ul > li div:hover,
.cards.block.header-content.right > ul > li div:focus {
  border-bottom: 1px solid #00aad2;
  transition: opacity 1s linear;
  transform: scale(1.0);
}



