.form .field-wrapper {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  padding: 8px;
}

.form fieldset {
  display: grid;
  grid-auto-flow: row;
  gap: 8px;
  border: none;
  padding: 0;
}

.form.header-right.block form h2 {
  width: 100%;
  height: auto;
  display: block;
  color: #000;
  font-size: 18px;
  font-family: HyundaiSansHead-Regular, sans-serif;
  line-height: 1.2;
}

.form input,
.form select,
.form textarea {
  font-size: var(--body-font-size-s);
  width: 100%;
  max-width: 50rem;
  display: block;
  padding: 12px 8px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

.form .selection-wrapper input {
  width: 16px;
}

.form label {
  font-weight: 700;
  font-size: var(--body-font-size-xs);
  margin-bottom: 0.25em;
}

.form .selection-wrapper label {
  margin-bottom: 0;
}

.form input:hover {
  border: 1px solid var(--text-color);
}

.form .toggle-wrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}

.form.header-right.block fieldset .field-wrapper > input {
  display: none;
}

.form.header-right.block fieldset .field-wrapper > label > input[type="radio"] {
    opacity: 0;
  }

  .form.header-right.block fieldset .field-wrapper > label > span {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    left: -10px;
    background-color: #f5f4f4;
    border-radius: 50%;
    border: solid 1px var(--rating-border);
    margin-right: 10px;
  }

  .form.header-right.block fieldset .field-wrapper > label:hover > span {
    border: solid 1px var(--hyundai-light-blue);
    transition: all .5s ease-out;
  }

  .form.header-right.block fieldset .field-wrapper > label > input[type="radio"]:checked ~ .radio-button {
    border: solid 1px var(--hyundai-light-blue);
    transition: all .5s ease-out;
  }

  .form.header-right.block fieldset .field-wrapper > label > input[type="radio"]:checked ~ .radio-button::after {
    position: absolute;
    top: 4px;
    left: 4px;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--hyundai-light-blue);
    transition: all .5s ease-out;
  }

.form .field-wrapper > label {
  order: -1;
}

.form .field-wrapper.selection-wrapper > label {
  order: 1;
}

.form.header-right.block fieldset label {
  color: #747474;
  display: flex;
}

.form.header-right.block select {
  color: #fff;
  background-color: #b7b7b7;
  border: solid 1px #707070;
}

@media (width >= 992px) {
  .form fieldset {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

.form fieldset > legend {
  font-weight: 700;
  font-size: var(--heading-font-size-xs);
}

.form textarea {
  resize: vertical;
}

.form .button {
  max-width: 225px;
  font-size: var(--body-font-size-m);
  padding: 0.2em 0.4em;
}

.form .field-wrapper.selection-wrapper {
  grid-auto-flow: column;
  justify-content: start;
  gap: 16px;
}

.form .toggle-wrapper .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.form .toggle-wrapper .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--dark-color);
  transition: 0.4s;
  border-radius: 30px;
}

.form .toggle-wrapper .slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--background-color);
  transition: 0.4s;
  border-radius: 50%;
}

.form .toggle-wrapper input:checked + .slider {
  background-color: var(--link-color);
}

.form .toggle-wrapper input:focus + .slider {
  outline: 2px solid var(--link-color);
  outline-offset: 2px;
}

.form .toggle-wrapper input:checked + .slider::before {
  transform: translateX(24px);
}
