.columns > div {
  display: grid;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    grid-template-columns: 2fr 1fr 1fr;
    align-items: end;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    order: unset;
  }

  .columns > div > div:last-child {
    margin-left: 30%;
  }
}
