.monte-o-seu {
    /* see if we can move this to styles.css */
    font-family: HyundaiSansHead-Medium, sans-serif;
}

.monte-o-seu > div:first-child {
    transition: transform .5s ease-out;
    display: flex;
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 9999;
    color: white;
    cursor: pointer;
}

.monte-o-seu.minimized > div:first-child {
    transform: translateX(100%);
}

.monte-o-seu div.flecha {
    opacity: 0;
    transition: opacity .5s ease-out;
    position: absolute;
    top: 80px;
    right: 38px;
    display: flex;
    width: 30px;
    height: 48px;
    background-color: var(--hyundai-light-blue);
    justify-content: center;
    align-items: center;
}

.monte-o-seu.minimized div.flecha {
    opacity: 1;
}

.monte-o-seu div.flecha > img {
    width: 10px;
    height: 20px;
}

.monte-o-seu div.menu {
    /* show on the top right corner */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.monte-o-seu div.menu > * {
    width: 40px;
    height: 44px;
}

.monte-o-seu span.icon-close {
    display: flex;
    height: 30px;
}

.monte-o-seu span.icon-close > img {
    width: 14px;
    height: 14px;
    margin: auto;
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 70%))
}

.monte-o-seu a.monte-link {
    /* TODO check font-weight and size are correct (the numbers match but not the presentation) */
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    height: 138px;
    background-color: var(--hyundai-light-blue);
    border: solid 1px var(--hyundai-light-blue);
    text-orientation: mixed;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 10px;
    text-align: center;
    margin-bottom: 3px;
    color: white;
}

.monte-o-seu a.monte-link:hover {
    background-color: white;
    color: var(--hyundai-light-blue);
    text-decoration: none;
}

.monte-o-seu span.icon-smiley-survey,
.monte-o-seu span.icon-undo {
    background-color: var(--hyundai-gray);
    border: solid 1px var(--hyundai-gray);
    height: 38px;
    padding: 5px;
    margin-bottom: 3px;
}

.monte-o-seu span.icon-undo {
    display: none;
}

.monte-o-seu.survey-open span.icon-undo {
    display: inline-block;
}

.monte-o-seu.survey-open span.icon-smiley-survey {
    display: none;
}

.monte-o-seu a.whatsapp {
    background-color: #00a884;
    border: solid 1px #00a884;
    padding: 10px;
    width: 40px;
    height: 44px;
}

.monte-o-seu a.whatsapp > span {
    display: flex;
    width: 18px;
    height: 22px;
    justify-content: center;
}

.monte-o-seu .survey {
    color: black;
    background-color: white;
    position: fixed;
    bottom: 20px;
    right: 45px;
    z-index: 9999;
    width: 100%;
    max-width: 385px;
    height: 517px;
    border: solid 1px var(--border);
    border-top: solid 10px var(--hyundai-light-blue);
    overflow-y: auto;
    transform: translateX(calc(100% + 45px));
    transition: all .5s ease-out;
    padding: 10.5px 24px 27px;
    font-size: 16px;
    line-height: 1.2;
}

.monte-o-seu.survey-open .survey {
    transform: translateX(0);
}

.monte-o-seu.survey-open .survey::-webkit-scrollbar {
    width: 20px;
}

.monte-o-seu.survey-open .survey::-webkit-scrollbar-thumb {
    height: 20px;
    border: solid 7px transparent;
    background-color: var(--scroll-thumb);
    border-radius: 0;
    background-clip: content-box;
}

.monte-o-seu.survey-open .survey::-webkit-scrollbar-track {
    border-radius: 0;
    border: solid 7px transparent;
    background-color: var(--scroll-track);
    background-clip: content-box;
}

.monte-o-seu .survey h5 {
    color: var(--hyundai-blue);
    font-size: 17px;
    white-space: pre-line;
    margin-bottom: 25px;
}

.monte-o-seu .survey label {
    margin-bottom: 12px;

    /* TODO this is not what the css on the original site says, look closer */
    font-weight: 600;
}

.monte-o-seu .survey .questions > div {
    margin-bottom: 40px;
}

.monte-o-seu .survey input {
    height: 45px;
    width: 100%;
    border: 0;
    border-bottom: solid 1px  var(--hyundai-gray);
    padding: 5px 10px 0;
    transition: all .5s ease-out;
    outline: none;
}

.monte-o-seu .survey .radio label {
    display: flex;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 18px;
    align-items: flex-start;
    justify-content: left;
    line-height: 1;
}

.monte-o-seu .survey input[type="radio"] {
    display: none;
}

.monte-o-seu .survey .radio label {
    position: relative;
}

.monte-o-seu .survey .radio-button {
    width: 20px;
    height: 20px;
    background-color: #f5f4f4;
    border-radius: 50%;
    border: solid 1px var(--rating-border);
    margin-right: 10px;
}

.monte-o-seu .survey input[type="radio"]:checked ~ .radio-button {
    border-radius: 0;
    transition: all .5s ease-out;
    border-color: var(--hyundai-light-blue);
}

.monte-o-seu .survey input[type="radio"]:checked ~ .radio-button::after {
    position: absolute;
    top: 4px;
    left: 4px;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--hyundai-light-blue);
    transition: all .5s ease-out;
}

.monte-o-seu .survey .radio.inline label {
    display: inline-flex;
    align-items: center;
}

.monte-o-seu .survey .mandatory-text {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 25px;
}

.monte-o-seu .survey input[type="range"] {
    width: 100%;
    max-width: 100%;
    height: 23px;
    display: inline-block;
    cursor: pointer;
    appearance: none;
    background: linear-gradient(to right,var(--rose-background),var(--orange-background),var(--yellow-background),var(--green-background),var(--blue-background));
    border: solid 1px var(--rating-border);
    border-radius: 10px;
    outline: none;
    margin: 0;
    margin-bottom: 18px;
    padding: 0 3px;
}

.monte-o-seu .survey input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transform: translateY(0);
}

.monte-o-seu .survey .question-rating-content {
    color: var(--rating-label);
    font-size: 14px;
    line-height: 1;
}

.monte-o-seu .survey .data-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-left: 2px;
}

.monte-o-seu .survey .question-rating-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: auto;
}

.monte-o-seu .survey .question-rating-text > div {
    white-space: pre-line;
    line-height: 1.2;
    height: auto;
}

.monte-o-seu .survey .question-rating-text > div:last-child {
    text-align: right;
}

.monte-o-seu .survey button.send {
    width: 100%;
    max-width: 212px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0 auto;
    font-size: 14px;
    background-color: var(--hyundai-blue);
    border: 0;
}

.monte-o-seu .survey .survey-success {
    display: none;
}

