/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

/* CSS for hero-horizontal panel effect */

main .hero-horizontal-tabs-wrapper {
  background-color: var(--primary);
}

main .hero-horiz-tabs-panel {
  position: relative;
  display: flex;
  flex-direction: column;
}

main .hero-horiz-tabs-nav {
  margin-left: 1rem;
}

main .hero-horizontal-tabs.block {
  display: flex;
  flex-direction: column;
}

main div.tab-item {
  animation: fade-out 0ms linear forwards;
}

main div.tab-item.active {
  animation: fade-in 0.15s linear forwards;
}

main .hero-horiz-tabs-text {
  color: var(--muted-text);
  padding-top: 1.625rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 2rem;
}
  
main .hero-horiz-tabs-img {
  order: -1;
}

main .hero-horiz-tabs-text > h1 {
  color: var(--white);
  font-size: var(--heading-font-size-l);
  font-weight: var(--font-weight-small);
  line-height: 3rem;
  margin-bottom: 0.75rem;
  margin-top: 0;
}

main .hero-horiz-tabs-text > h2 {
  color: var(--white);
  font-size: var(--heading-font-size-l);
  font-weight: var(--font-weight-small);
  line-height: 1.3em;
  margin-bottom: 0.75rem;
  margin-top: 0;
}

main .hero-horiz-tabs-text > h6 {
  color: var(--hero-strong-color);
  font-size: var(--heading-font-size-xxxs);
  letter-spacing: 0.7px;
  margin-bottom: 0.75rem;
}

main .hero-horiz-tabs-text > p {
  font-size: var(--body-font-size-s);
}

main div.no-image .hero-horiz-tabs-text > p {
  color: var(--white);
  line-height: 1.5em;
}

main .hero-horiz-tabs-img picture {
  display: block;
  height: 15rem;
}



main .hero-horiz-tabs-img picture > img {
  object-fit: cover;
  object-position: center;
  max-height: 100%;
  min-width: 100%;
  height: inherit;
}

main .hero-horizontal-tabs nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  text-wrap: nowrap;
}

main .hero-horizontal-tabs nav ul li {
  padding: 0;
  margin: 0;
}

main .hero-horizontal-tabs nav button {
  background-color: var(--transparent-blue-light-color);
  padding: 0.5px 1rem;
  color: var(--light-black);
  border-left: 1px solid #d9dfe2;
  font-size: var(--body-font-size-s);
  font-weight: var(--font-weight-medium);
  border-radius: 0;
  min-width: auto;
  height: 2.5rem;
}

main .hero-horizontal-tabs nav button:hover {
  text-decoration: none;
  background-color: white;
  color: var(--primary);
}

main .hero-horizontal-tabs nav button.active {
  background-color: white;
  color: var(--primary);
}

main .hero-horizontal-tabs-wrapper + .section.static {
  margin-bottom: unset;
}

main .hero-horizontal-tabs a.button.primary.video-link::after {
  content: url('../../icons/play.svg');
  position: relative;
  top: 0.1rem;
  left: 0.3rem;
}

@media (width >= 600px) {
  header nav {
    padding: 0 2rem;
  }

  /* CSS for hero-horizontal panel effect */

  main .hero-horiz-tabs-panel {
    width: 50%;
  }

  .hero-horizontal-tabs>div:first-of-type {
    width: 50%;
  }

  main .hero-horizontal-tabs.block {
    flex-direction: row;
    max-width: 54.5rem;
  }

  main .hero-horiz-tabs-text {
    padding-top: 6rem;
    margin-left: 0;
    min-width: 27.25rem;
    padding-right: 2rem;
  }

  main div.no-image .hero-horiz-tabs-text {
    padding-top: 0;
    margin: 3rem 2rem 7rem 0;
  }

  main .hero-horiz-tabs-nav {
    margin-left: 0;
  }

  main .hero-horiz-tabs-text > h6 {
    font-size: var(--heading-font-size-xxs);
  }

  main .hero-horiz-tabs-text > h1 {
    font-size: var(--heading-font-size-xxl);
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }

  main .hero-horiz-tabs-text > h2 {
    font-size: var(--heading-font-size-ml);
  }

  main .hero-horiz-tabs-img {
    order: 0;
  }

  main .hero-horiz-tabs-img picture {
    width: calc(50vw);
    height: 25rem;
  }

  main .hero-horizontal-tabs nav {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  main .hero-horizontal-tabs nav button {
    font-size: var(--body-font-size-l);
    font-weight: var(--font-weight-regular);
    padding: 1rem 2rem;
    height: 3.5rem;
  }

  main .hero-horizontal-tabs.block.no-image {
    height: auto;
    min-height: 20rem;
    padding-top: 0;
  }

  main .hero-horizontal-tabs.block.no-image .hero-horiz-tabs-panel {
    justify-content: center;
    width: 70%;
  }
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }

  /* CSS for hero-horizontal panel effect */

  .hero-horizontal-tabs>div:first-of-type {
    width: unset;
  }

  main .hero-horizontal-tabs.block {
    max-width: 75rem;
  }

  main .hero-horiz-tabs-text {
    padding-top: 7.5rem;
    margin-right: 2rem;
    min-width: 29.5rem;
    padding-right: 0;
  }

  main .hero-horiz-tabs-text > h2 {
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
  }

  main .hero-horiz-tabs-text > h6 {
    margin-bottom: 1.5rem;
  }

  main .hero-horiz-tabs-text > p {
    font-size: 1rem;
  }

  main .hero-horiz-tabs-img picture {
    height: 32.5rem;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}
