header nav {
  background-color: white;
  color: black;
  display: grid;
  align-items: center;
  justify-content: start;
  grid-gap: 0 2em;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav span.icon-hyundai {
  display: none;
}

/* header and nav layout */
header .nav-wrapper {
  background-color: transparent;
  box-shadow: none;
  background-image: linear-gradient(rgba(0 0 0 / 61%),rgba(0 0 0 / 0%));
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav button {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 16px;
  line-height: 1;
  position: relative;
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  transition: all .4s ease-out;
  font-family: HyundaiSansHead-Bold, sans-serif;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav a.button:not(.onlyclick):hover, header nav a.button:not(.onlyclick):focus, header nav button:not(.onlyclick):hover, header nav button:not(.onlyclick):focus  {
  background-color: white;
  cursor: pointer;
  color: black;
  transition: all .4s ease-out;
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

header .tab-item {
  position: fixed;
  background: white;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: row;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgba(0 0 0 / 19%);
}


header .tab-item:has(.image) {
  height: 37rem;
}

header .tab-item:has(.hamburger) {
  height: 35rem;
}

header .tab-item .cards-wrapper {
  flex-basis: 50%;
  padding: 2rem;
}

header nav .nav-sections ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

header nav .nav-sections ul > li:last-of-type > button {
  min-width: 166px;
  color: #fff;
  margin: 0;
  padding: 26px 20px;
}

header nav .nav-sections ul > li:last-of-type:hover, header nav .nav-sections ul > li:last-of-type > button:hover,
header nav .nav-sections ul > li:last-of-type:focus, header nav .nav-sections ul > li:last-of-type > button:focus {
  background-color: #fff;
  color: var(--primary-color);
  transition: all .4s ease-out;
}

header nav .nav-sections ul > li:not(:has(button.onlyclick)):hover,
header nav .nav-sections ul > li:not(:has(button.onlyclick)):focus {
  background-color: white;
  border-bottom: 4px solid var(--primary-color);
  transition: all .4s ease-out;
}

header nav .nav-sections .hero-horiz-tabs-nav > ul:first-child li:last-child {
  background-color: var(--primary-color);
  border: solid 1px var(--primary-color);
}

@media (width >= 600px) {
  header nav {
    padding: 0 2rem;
  }
}

@media (width >= 900px) {


  header .tab-item {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  header .tab-item:has(.form-wrapper) {
    justify-content: center;
  }

  header nav {
    box-sizing: border-box;
    gap: 0 2em;
    margin: auto;
    padding: 0 1rem;
    display: flex;
    background-color: unset;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
    max-width: 90%;
    gap: 10rem;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

/* TODO use as default config - temp workaround to work faster */
@media (width < 900px) {
  header nav[aria-expanded="false"] {
    grid-template:
        'hamburger brand tools' var(--nav-height)
        'sections sections sections' 1fr / auto 1fr auto;
  }

  header nav {
    height: auto;
  }

  header nav .nav-sections nav {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
  }

  header nav .nav-sections ul {
    width: 100%;
  }

  header nav .nav-sections ul li {
    width: 100%;
    border-bottom: solid 1px #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header nav .nav-sections .main-tab ul li {
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    font-weight: 400;
  }

  header nav .nav-sections .hero-horiz-tabs-nav > ul:first-child li:last-child {
    order: -3;
  }

  header nav .nav-sections ul li button {
    font-weight: 600;
    justify-content: flex-start;
    font-size: 18px;
  }

  header nav .nav-sections .hero-horiz-tabs-nav > ul:first-child li:first-child {
    display: none;
  }

  header nav .nav-sections .hero-horiz-tabs-nav > ul:first-child li:nth-child(4) {
    order: -2;
  }

  header nav .nav-sections ul li span.icon {
    width: 10px;
    height: 13px;
  }

  header nav .nav-sections ul li:last-child .icon-ofertas {
    width: 25px;
    height: 25px;
  }

  header nav .nav-sections .main-tab {
    width: 100%;
  }

  header nav .nav-sections .main-tab ul li .icon {
    width: 25px;
    height: 25px;
  }
}

@media (width >= 900px) {
  header .icon-ofertas,
  header .icon-arrow {
    display: none;
  }

  header nav button {
    color: #fff;
  }

  header nav .section.nav-sections span.icon-hyundai {
    display: inline-block;
    width: 128px;
    height: auto;
  }

  header nav span.icon-hyundai-blue {
    display: none;
  }

  header nav .section.nav-sections button:has(.icon-hamburger) {
    border-right: solid 1px #fff;
  }

  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav .nav-sections ul {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul li:last-child {
    order: unset;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}
