.veiculos-highlight.block {
    width: 100%;
    max-width: 1360px;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.veiculos-highlight.block .highlighted-vehicle > div {
    display: flex;
    flex-direction: column;
}

.veiculos-highlight.block .highlighted-vehicle > div > div:last-of-type {
    display: flex;
    flex-direction: row;
}

.veiculos-highlight.block .highlighted-vehicle > div > div.vehicle > div {
    display: flex;
    flex-direction: column;
}

.veiculos-highlight.block .highlighted-vehicle > div > div.vehicle > div > p:last-of-type {
    order: 1;
}

.veiculos-highlight.block .highlighted-vehicle > div > div.vehicle > div > p:first-of-type {
    order: 2;
}

.veiculos-highlight.block .highlighted-vehicle > div .metadata {
    display: flex;
    flex-direction: column;
}

.veiculos-highlight.block .highlighted-vehicle > div .metadata > div:first-of-type {
    width: 100%;
    height: 50%;
    display: block;
    color: #000;
    font-size: 12px;
    font-family: HyundaiSansHead-Regular, sans-serif;
    line-height: 1;
    margin-bottom: 5px;
}

.veiculos-highlight.block .highlighted-vehicle > div .metadata > div:last-of-type {
    width: 100%;
    height: 50%;
    display: block;
    color: #000;
    font-size: 16px;
    font-family: HyundaiSansHead-Medium, sans-serif;
    line-height: 1.2;
    white-space: pre-line;
}

