.veiculos-showcase {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

.veiculos-showcase > div {
    max-width: 475px;
    flex-basis: 50%;
}

.veiculos-showcase .vehicle-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 16px;
}

.veiculos-showcase .vehicle-list > div {
    display: flex;
}
