/* TODO remove before merge */
.nav-tools {
  display: none;
}

footer {
  padding: 1rem 1rem 2rem;
  background-color: var(--text-color);
  font-size: var(--body-font-size-s);
  overflow: hidden;
  font-family: HyundaiSansHead-regular, sans-serif;
}

footer .section.disclaimer {
  margin-bottom: 60px;
}

footer .section.disclaimer > div {
  margin: 0;
}

footer.appear {
  visibility: visible;
}

footer p {
  color: var(--white);
}

footer a:any-link {
  color: var(--white);
}

footer a:hover {
  text-decoration: underline;
}

footer .multilist {
  margin-bottom: 1rem;
}

footer .multilist ul>li {
  display: none;
}

footer .multilist-item:last-of-type {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

footer .multilist h6 {
  display: none;
}

footer .multilist-item:last-of-type li {
  margin: 0;
  padding: 0;
  display: block;
  font-size: var(--body-font-size-m);
  margin-bottom: 1.5rem;
}

footer h5 {
  font-size: var(--body-font-size-s);
  margin-bottom: 18px;
  margin-top: 0;
}

footer .footer-bottom h5 {
    color: #fff;
    font-size: 14px;
    line-height: 1;
    font-family: HyundaiSansHead-medium, sans-serif;
    margin-top: 3em;
    font-weight: bold;
}

footer .multilist-item:last-of-type h5 {
  color: var(--white);
  font-weight: bold;
}

footer .multilist ul {
  margin: 0;
  padding: 0;
  margin-bottom: 1.75rem;
}

footer .footer-middle img {
  max-width: 10rem;
  max-height: 1.5rem;
  margin-bottom: 0.5rem;
}

footer .footer-middle {
  margin-bottom: 2rem;
}

footer .footer-middle p {
  font-size: var(--body-font-size-s);
}

footer .footer-bottom p>a {
  color: var(--white);
  margin-right: 1rem;
}

footer .footer-bottom p {
  font-size: 12px;
  line-height: 1;
}

footer .footer-bottom p:last-of-type {
  margin-top: 1rem;
}

footer .icon-hamburger {
  height: 1.125rem;
  width: 1.125rem;
  margin-left: 0.125rem;
  vertical-align: middle;
  margin-bottom: 0.313rem;
}

footer .icon-hyundai {
  height: 1.125rem;
  width: 8.655rem;
  margin-left: 0.125rem;
  vertical-align: middle;
  margin-bottom: 0.313rem;
}

@media (width >= 48rem) {
  footer .footer-middle p {
    font-size: 13px;
  }
}

@media (width >= 768px) {
  footer {
    padding-top: 3rem;
    font-size: 10px;
  }

  footer .footer {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
  }

  .footer > div {
    display: grid;
    grid-template-columns: 1fr 5fr fit-content(340px);
  }

  footer .section.disclaimer {
    grid-column: 1 / -1;
    font-size: 13px;
    font-family: HyundaiSansText-Regular, sans-serif;
  }

  footer .section.hamburger {
    width: 100%;
    grid-row: 2 / 4;
    display: flex;
    align-items: flex-start;
  }

  footer .section.hamburger li {
    width: 110px;
  }

  footer .section.hamburger ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  footer .section.multilist {
    grid-row: 2 / 6;
  }

  footer .section.logo,
  footer .section.legal,
  footer .section.contact,
  footer .section.revisoes {
    grid-column: -1 / -2;
  }

  footer .multilist h6 {
    text-transform: uppercase;
    color: #89d1e1;
    display: block;
  }

  footer h5 {
    font-weight: bold;
  }

  footer .multilist > div {
    display: flex;
    justify-content: space-between;
  }

  footer .footer-bottom>div>div {
    display: flex;
    justify-content: space-between;
  }

  footer .multilist-item:last-of-type {
    margin-top: 0;
  }

  footer ul > li {
    margin: 0;
    padding: 0;
    display: block;
    margin-bottom: 8px;
  }

  footer .multilist ul > li {
    display: block;
  }

  footer .multilist-item:last-of-type li {
    margin-bottom: 0.625rem;
    font-size: 0.813rem;
  }

  footer .multilist .multilist-item {
    width: 10rem;
    min-width: 10rem;
  }

  footer .footer-bottom p:last-of-type {
    margin-top: 0;
  }
}

@media (width >= 77rem) {
  footer .multilist>div>div {
    gap: 3rem;
  }

  footer .multilist .multilist-item {
    width: 12.5rem;
    min-width: 12.5rem;
  }
}

@media (width >= 992px) {
  footer .section.multilist {
    width: calc(1300px - 170px);
  }

  footer .section.hamburger li {
    width: 170px;
  }
}
