footer {
  padding: 20px 7.5% 0;
  background-color: black;
  font-size: 10px;
  overflow: hidden;
  font-family: HyundaiSansHead-regular, sans-serif;
  color: white;
}

footer .form-wrapper {
  max-width: 75vw;
  margin: auto;
}

footer ul {
  list-style: none;
}

footer .form h2 {
  font-size: 13px;
  font-family: HyundaiSansHead-Bold, sans-serif;
}

footer .form input[type="text"],
footer .form input[type="tel"],
footer .form input[type="email"] {
  background-color: #ccc;
}

footer .form input::placeholder {
  color: white;
  font-size: 13px;
  font-family: HyundaiSansHead-Medium, sans-serif;
}

footer .form .field-wrapper {
  padding: 0;
}

footer .form .field-wrapper #form-personal-info {
  gap: 0;
  margin-bottom: 1rem;
}

footer .form .field-wrapper #form-personal-info input {
  border-radius: 0;
}

footer .form .fieldset-wrapper {
  margin-bottom: 1rem;
}

footer .form fieldset > legend {
  font-size: 12px;
  font-family: HyundaiSansHead-Bold, sans-serif;
  margin-bottom: 12px;
}

footer .form .submit-wrapper {
  justify-content: end;
}

footer .form button.button {
  background-color: #ccc;
  height: 35px;
  font-size: 13px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .form .field-wrapper.checkbox-wrapper  {
  gap: 0;
  align-items: start;
}

footer .form .field-wrapper.checkbox-wrapper label {
  font-size: 12px;
  font-weight: 400;
  font-family: HyundaiSansHead-Medium, sans-serif;
}

footer p {
  color: var(--white);
}

footer h5 {
  font-size: var(--body-font-size-s);
  margin-bottom: 18px;
  margin-top: 0;
  font-family: HyundaiSansHead-Medium, sans-serif;
  font-weight: bold;
}

.footer > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
}

.footer > div > div.section.form-container {
  grid-column: 1 / -1;
}

footer div.section:last-child {
  display: none;
}

footer .footer > div.section:first-of-type {
  grid-column: 1 / -1;
}

footer .section.disclaimer {
  grid-column: 1 / -1;
  font-family: HyundaiSansText-Regular, sans-serif;
  font-size: 13px;
}

footer .section.logo,
footer .section.social-icons {
  grid-row: 3 / 4;
}

footer .section.social-icons {
  align-items: end;
}

footer .section.logo h5 {
  margin-bottom: 0;
}

footer .section.logo img {
  width: 133px;
  height: 19px;
}

footer .section.logo p {
  margin-top: 0;
  color: #b4b4b4;
  font-size: 12px;
}

footer .section.social-icons ul {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: flex-end;
  justify-content: space-between;
  height: 24px;
  width: 100%;
}

footer .section.social-icons ul span {
  display: flex;
  align-items: flex-end;
}

footer .section.social-icons li .icon {
  width: unset;
}

footer .section.social-icons li .icon img {
  max-height: 19px;
  margin-right: 10px;
}

footer .section.social-icons li:last-child .icon img {
  margin-right: 0;
}

footer .section.hamburger {
  grid-row: 4 / 6;
  font-size: 12px;
}

footer .section.hamburger h5 {
  display: none;
}

footer .section.hamburger ul {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
}

footer .section.multilist li {
  display: none;
}

footer .section.hamburger li {
  margin-bottom: 8px;
}

footer .section.multilist {
  grid-row: 4 / 5;
}

footer .section.multilist h5::before {
  content: "+";
  color: white;
  display: inline-block;
  padding-right: 5px;
  transition: transform .3s ease-out;
}

footer .section.legal {
  grid-row: 5 / 6;
}

footer .section.legal ul {
  padding: 0;
  font-size: 12px;
  font-family: HyundaiSansText-Regular, sans-serif;
  line-height: 1.2;
}

footer .section.legal ul li {
  margin-bottom: 8px;
}

footer .section.revisoes {
  grid-row: 6 / 7;
  grid-column: 1 / -1;
  background-color: white;

  /* Ignore lateral padding */
  margin: 0 calc(-1vw * 7.5);
}

footer .section.revisoes > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer .section.revisoes p:last-child {
  color: black;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  font-family: HyundaiSansText-Regular, sans-serif;
}

footer .section.contact {
  display: none;
}

footer .section.disclaimer > div {
  margin: 0;
}

footer.appear {
  visibility: visible;
}

footer a:any-link {
  color: var(--white);
}

footer a:hover {
  text-decoration: underline;
}

footer .multilist {
  margin-bottom: 1rem;
}

footer .multilist h6 {
  display: none;
}

footer .icon-hamburger {
  height: 1.125rem;
  width: 1.125rem;
  margin-left: 0.125rem;
  vertical-align: middle;
  margin-bottom: 0.313rem;
}

footer .icon-hyundai {
  height: 1.125rem;
  width: 8.655rem;
  margin-left: 0.125rem;
  vertical-align: middle;
  margin-bottom: 0.313rem;
}

@media (width >= 768px) {
  footer {
    padding: 3rem 2.5%;
    font-size: 10px;
  }

  footer .footer {
    margin-left: auto;
    margin-right: auto;
  }

  .footer > div {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-row-gap: 0;
  }

  footer .form fieldset#form-personal-info {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  footer .form fieldset#form-contact-group {
    display: flex;
  }

  footer .form fieldset#form-contact-group .field-wrapper {
    align-items: center;
  }

  footer .form h2 {
    font-size: 18px;
  }

  footer .form fieldset > legend {
    font-size: 16px;
  }

  footer .section.disclaimer {
    font-size: 13px;
    margin-bottom: 60px;
  }

  footer .section.hamburger {
    width: 100%;
    grid-row: 3 / 7;
    display: flex;
    align-items: flex-start;
  }

  footer h5 {
    font-size: 12px;
  }

  footer .section.hamburger h5 {
    display: block;
  }

  footer ul,
  footer .section.hamburger ul {
    padding: 0;
    margin: 0;
  }

  footer li {
    padding: 0;
    display: block;
    margin: 0 0 5px;
    font-size: 10px;
  }

  footer .multilist ul > li {
    display: block;
  }

  footer .section.hamburger li {
    width: 110px;
  }

  footer .section.multilist {
    grid-row: 3 / 7;
    margin-right: 32px
  }

  footer .section.multilist h5::before {
    content: unset;
  }

  footer .section.multilist li {
    display: block;
  }

  footer .section.logo,
  footer .section.legal,
  footer .section.contact,
  footer .section.social-icons,
  footer .section.revisoes {
    grid-column: -1 / -2;
    grid-row: unset;
  }

  footer .section.social-icons {
    padding-bottom: 14px;
    border-bottom: solid 1px #d3d3d3;
    margin-bottom: 13px;
  }

  footer .section.revisoes {
    margin: 0;
    padding: 8px;
  }

  footer .section.contact p {
    margin: 0;
    font-size: 12px;
  }

  footer .section.contact p:nth-of-type(4) {
    margin-bottom: 10px;
  }

  footer .section.contact h5 {
    margin-bottom: 0;
  }

  footer .section.revisoes p:last-child {
    font-size: 10px;
    line-height: 12px;
    text-align: left;
  }

  footer .multilist > div {
    display: flex;
    justify-content: space-between;
  }

  footer .section.revisoes > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer .section.contact {
    display: block;
  }

  footer .multilist h6 {
    text-transform: uppercase;
    color: #89d1e1;
    display: block;
  }
}

@media (width >= 992px) {
  footer .footer {
    max-width: 1300px;
    margin: auto;
  }

  footer h5 {
    font-size: 16px;
    font-family: HyundaiSansText-Bold, sans-serif;
  }

  .footer > div {
    grid-template-columns: 1fr 5fr fit-content(340px);
  }

  .footer .section > div {
    max-width: unset;
  }

  footer .section.hamburger li {
    width: 170px;
  }

  footer .section.revisoes > div {
    padding: 6.7px 15px 10.7px 11.4px;
    flex-wrap: nowrap;
  }

  footer .section.revisoes p {
    margin: 0;
  }

  footer .section.logo p {
    margin-bottom: 0;
  }

  footer .section.revisoes p:last-child {
    font-size: 12px;
    font-family: HyundaiSansText-Regular, sans-serif;
  }

  footer .section.logo > div {
    display: flex;
    align-items: flex-end;
  }

  footer .section.logo > div > * {
    width: 50%;
  }

  footer .section.social-icons ul {
    justify-content: flex-start;
  }
}

@media (width >= 992px) {
  footer .form h2 {
    font-size: 24px;
  }

  footer .form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer .form input[type="checkbox"] {
    margin-top: 0;
  }

  footer .form form > div {
    grid-column: 1 / 3;
  }

  footer .form .sub-heading {
    grid-column: 1/2;
  }

  footer .form .sub-heading + div {
    grid-column: 2/3;
  }

  footer .form fieldset[name='legal'] {
    grid-template-columns: 1fr;
  }

  footer .form fieldset > legend {
    font-size: 18px;
  }

  footer .form button.button {
    height: 40px;
    width: 120px;
    font-size: 16px;
  }

  footer .form input::placeholder {
    font-size: 16px;
  }
}
